In [1]:
import pandas as pd

uniqueSchools = pd.read_csv('../data/raw/unique-schools.csv')

# https://en.wikipedia.org/wiki/List_of_NCAA_Division_I_institutions
allSchools = pd.read_csv('../data/raw/d1-master-list.csv')
allSchools
# uniqueSchools.tail(40)
# TODO: Consistency between St. Josephs and John's, remove nan, parentheses

,school,common_name,team,city,state,type,conference
0,Abilene Christian University,Abilene Christian,Wildcats,Abilene,Texas,Private/Churches of Christ,Southland Conference
1,University of Akron,Akron,Zips,Akron,Ohio,State,Mid-American Conference
2,University of Alabama,Alabama,Crimson Tide,Tuscaloosa,Alabama,State,Southeastern Conference
3,Alabama Agricultural and Mechanical University,Alabama A&M,Bulldogs and Lady Bulldogs,Huntsville,Alabama,State,Southwestern Athletic Conference
4,University of Alabama at Birmingham,UAB,Blazers,Birmingham,Alabama,State,Conference USA
...,...,...,...,...,...,...,...
345,Wright State University,Wright State,Raiders,Fairborn,Ohio,State,Horizon League
346,University of Wyoming,Wyoming,Cowboys and Cowgirls,Laramie,Wyoming,State,Mountain West Conference
347,Xavier University,Xavier,Musketeers,Cincinnati,Ohio,Private/Catholic,Big East Conference
348,Yale University,Yale,Bulldogs,New Haven,Connecticut,Private/Non-Sectarian,Ivy League
349,Youngstown State University,Youngstown State,Penguins,Youngstown,Ohio,State,Horizon League[h]

In [2]:
# remove all Wikipedia citations (any value between brackets) 
allSchools.common_name = allSchools.common_name.str.replace(r"\[.*\]", '')

In [7]:
# try to merge data sets to find values with different common names
mergeTest = pd.merge(uniqueSchools, allSchools, how='left', left_on='school', right_on='common_name')

# pull out any merge failures
fails = mergeTest[mergeTest['common_name'].isna()]
# print(fails)

# rename
# North Carolina, Pittsburgh, Saint Joseph's, St. John's, Loyola-Chicago, REMOVE
uniqueSchools[uniqueSchools.school == 'UNC'] = 'North Carolina'
uniqueSchools[uniqueSchools.school == 'Pitt'] = 'Pittsburgh'
uniqueSchools[uniqueSchools.school == "St. Joseph's"] = "Saint Joseph's"
uniqueSchools[uniqueSchools.school == "St. John's (NY)"] = "St. John's"
uniqueSchools[uniqueSchools.school == 'Loyola (IL)'] = 'Loyolaâ€“Chicago'

# drop na
uniqueSchools = uniqueSchools.dropna()

uniqueSchools.tail(50)

               school
37           Maryland
38         Georgetown
39           Syracuse
40          Creighton
41    San Diego State
42            Indiana
43         Ohio State
44          Marquette
45         New Mexico
46        Saint Louis
47           Missouri
48         Pittsburgh
49                BYU
50              UConn
51              Texas
52         Vanderbilt
53            Memphis
54         Washington
55           Stanford
56   Washington State
57  Southern Illinois
58               Iowa
59     Boston College
60           Illinois
61        Wake Forest
62     Oklahoma State
63     Saint Joseph's
64  Mississippi State
65       Georgia Tech
66           NC State
67             Dayton
68            Alabama
69            Georgia
70                USC
71           Ole Miss
72             Temple
73         St. John's
74           Arkansas
75     South Carolina
76          Minnesota
77            Clemson
78              UMass
79         Seton Hall
80               UNLV
81           Nebraska
82           La Salle
83             DePaul
84                TCU
85                VCU
86     Loyolaâ€“Chicago

In [8]:
tmp = pd.merge(uniqueSchools, allSchools, how='left', left_on='school', right_on='common_name')
tmp
# mergedSchools

,school_x,school_y,common_name,team,city,state,type,conference
0,Duke,Duke University,Duke,Blue Devils,Durham,North Carolina,Private/Non-sectarian,Atlantic Coast Conference
1,Gonzaga,Gonzaga University,Gonzaga,Bulldogs,Spokane,Washington,Private/Catholic,West Coast Conference
2,North Carolina,University of North Carolina at Chapel Hill,North Carolina,Tar Heels,Chapel Hill,North Carolina,State,Atlantic Coast Conference
3,Virginia,University of Virginia,Virginia,Cavaliers,Charlottesville,Virginia,State,Atlantic Coast Conference
4,Michigan State,Michigan State University,Michigan State,Spartans,East Lansing,Michigan,State,Big Ten Conference
...,...,...,...,...,...,...,...,...
82,La Salle,La Salle University,La Salle,Explorers,Philadelphia,Pennsylvania,Private/Catholic,Atlantic 10 Conference
83,DePaul,DePaul University,DePaul,Blue Demons,Chicago,Illinois,Private/Catholic,Big East Conference
84,TCU,Texas Christian University,TCU,Horned Frogs and Lady Frogs,Fort Worth,Texas,Private/Disciples of Christ,Big 12 Conference
85,VCU,Virginia Commonwealth University,VCU,Rams,Richmond,Virginia,State,Atlantic 10 Conference
86,Loyolaâ€“Chicago,Loyola University Chicago,Loyolaâ€“Chicago,Ramblers,Chicago,Illinois,Private/Catholic,Missouri Valley Conference

In [9]:
fails2 = tmp[tmp['common_name'].isna()]
fails2

Empty DataFrame
Columns: [school_x, school_y, common_name, team, city, state, type, conference]
Index: []